# Mage Duel!
---
Let's use what we've learned to play a mage duel!

Imagine your wizard has 6d4 health points and you have spells that do 6d4 damage. "6d4" means rolling six 4-sided dice and summing the result.

Your opposing mage has 4d6 health points and spells that do 4d6. "4d6" means rolling four six-sided dice and summing the result.

## Exercises
Simulate mage duels to answer who is the more powerful mage?

* Before running simulations, do you have a hypothesis of which mage will  win? Do you have a hunch? Write it down. This is your first exercise.
* Simulate 10 mage duels. Is there a clear winner? Run that 10 duel simulation again. Was the answer similar?
* Do the results change much at 100 duels?
* Now, simulate 10,000 mage duels. Is there a clear winner?

### Before running simulations, do you have a hypothesis of which mage will  win? Do you have a hunch? Write it down. This is your first exercise.

I believe that hey are equally powerful.

### Simulate 10 mage duels. Is there a clear winner? Run that 10 duel simulation again. Was the answer similar?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mage_duels = pd.DataFrame(np.random.choice([1, 2, 3, 4], size=(10, 6)).sum(axis=1))
mage_duels

    0
0  17
1  19
2  15
3  15
4  13
5  10
6  20
7  17
8  16
9  16

In [3]:
mage_duels = mage_duels.rename(columns={0: 'mage1_hp'})

In [4]:
mage_duels['mage1_attack'] = np.random.choice([1, 2, 3, 4], size=(10, 6)).sum(axis=1)
mage_duels['mage2_hp'] = np.random.choice([1, 2, 3, 4, 5, 6], size=(10, 4)).sum(axis=1)
mage_duels['mage2_attack'] = np.random.choice([1, 2, 3, 4, 5, 6], size=(10, 4)).sum(axis=1)
mage_duels

   mage1_hp  mage1_attack  mage2_hp  mage2_attack
0        17            14        17            15
1        19            14        16            13
2        15            17        15            10
3        15            16        19            14
4        13            13        17            17
5        10            18        13             9
6        20            20        13            13
7        17            15        14            19
8        16            15        13            19
9        16            14        12            18

In [5]:
def winner(battle):
    mage1_hp = battle.mage1_hp
    mage1_attack = battle.mage1_attack
    mage2_hp = battle.mage2_hp
    mage2_attack = battle.mage2_attack
    
    mage1_hp_after_fight = mage1_hp - mage2_attack
    mage2_hp_after_fight = mage2_hp - mage2_attack
    
    if mage1_hp_after_fight <= 0 and mage2_hp_after_fight <= 0:
        return "There were no survivors"
    elif mage1_hp_after_fight <= 0:
        return "Mage2 killed Mage1"
    elif mage2_hp_after_fight <= 0:
        return "Mage1 killed Mage2"
    else:
        return "No one died"

In [6]:
mage_duels["winner"] = mage_duels.apply(winner, axis=1)
mage_duels

   mage1_hp  mage1_attack  mage2_hp  mage2_attack                   winner
0        17            14        17            15              No one died
1        19            14        16            13              No one died
2        15            17        15            10              No one died
3        15            16        19            14              No one died
4        13            13        17            17  There were no survivors
5        10            18        13             9              No one died
6        20            20        13            13       Mage1 killed Mage2
7        17            15        14            19  There were no survivors
8        16            15        13            19  There were no survivors
9        16            14        12            18  There were no survivors

In [7]:
mage_duels.winner.value_counts(normalize=True)

No one died                0.5
There were no survivors    0.4
Mage1 killed Mage2         0.1
Name: winner, dtype: float64

### Do the results change much at 100 duels?

In [8]:
def mage_battles(nsims):
    mage_duels = pd.DataFrame(np.random.choice([1, 2, 3, 4], size=(nsims, 6)).sum(axis=1))
    
    mage_duels = mage_duels.rename(columns={0: 'mage1_hp'})
    
    mage_duels['mage1_attack'] = np.random.choice([1, 2, 3, 4], size=(nsims, 6)).sum(axis=1)
    mage_duels['mage2_hp'] = np.random.choice([1, 2, 3, 4, 5, 6], size=(nsims, 4)).sum(axis=1)
    mage_duels['mage2_attack'] = np.random.choice([1, 2, 3, 4, 5, 6], size=(nsims, 4)).sum(axis=1)
    mage_duels["winner"] = mage_duels.apply(winner, axis=1)
    
    return mage_duels.winner.value_counts(normalize=True)

In [9]:
mage_battles(100)

No one died                0.47
There were no survivors    0.28
Mage1 killed Mage2         0.16
Mage2 killed Mage1         0.09
Name: winner, dtype: float64

### Now, simulate 10,000 mage duels. Is there a clear winner?

In [10]:
mage_battles(10_000)

No one died                0.3411
There were no survivors    0.3394
Mage1 killed Mage2         0.2021
Mage2 killed Mage1         0.1174
Name: winner, dtype: float64