In [7]:
import numpy as np
import pandas as pd
from pydataset import data
from scipy import stats

np.random.seed(42)

In [8]:
datasets = data()
random_dataset = datasets.iloc[np.random.choice(range(0, 757))].dataset_id
random_dataset

'manaus'

In [9]:
manaus = data(random_dataset)
manaus

             time   manaus
1     1903.000000 -1.12422
2     1903.083333 -1.16433
3     1903.166667 -1.34911
4     1903.250000 -0.94544
5     1903.333333 -0.65367
...           ...      ...
1076  1992.583333 -3.47167
1077  1992.666667 -1.94522
1078  1992.750000 -0.20289
1079  1992.833333 -0.83689
1080  1992.916667  0.31667

[1080 rows x 2 columns]

In [10]:
data(random_dataset, show_doc=True)

manaus

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

##  Average Heights of the Rio Negro river at Manaus

### Description

The `manaus` time series is of class `"ts"` and has 1080 observations on one
variable.

The data values are monthly averages of the daily stages (heights) of the Rio
Negro at Manaus. Manaus is 18km upstream from the confluence of the Rio Negro
with the Amazon but because of the tiny slope of the water surface and the
lower courses of its flatland affluents, they may be regarded as a good
approximation of the water level in the Amazon at the confluence. The data
here cover 90 years from January 1903 until December 1992.

The Manaus gauge is tied in with an arbitrary bench mark of 100m set in the
steps of the Municipal Prefecture; gauge readings are usually referred to sea
level, on the basis of a mark on the steps leading to the Parish Church
(Matriz), which is assumed to lie at an altitude of 35.874 m according to
observations made many years ago under the direction of Samuel Pereira, an
engineer in charge of the Manaus Sanitation Committee Whereas such an altitude
cannot, by any means, be considered to be a precise datum point, observations
have been provisionally referred to it. The measurements are in metres.

### Source

The data were kindly made available by Professors H. O'Reilly Sternberg and D.
R. Brillinger of the University of California at Berkeley.

### References

Davison, A.C. and Hinkley, D.V. (1997) _Bootstrap Methods and Their
Application_. Cambridge University Press.

Sternberg, H. O'R. (1987) Aggravation of floods in the Amazon river as a
consequence of deforestation? _Geografiska Annaler_, **69A**, 201-219.

Sternberg, H. O'R. (1995) Waters and wetlands of Brazilian Amazonia: An
uncertain future. In _The Fragile Tropics of Latin America: Sustainable
Management of Changing Environments_, Nishizawa, T. and Uitto, J.I. (editors),
United Nations University Press, 113-179.

### Lets see if their is a relationship between time and the height of the river.

$H_0$: Time and height of the river are independent.

$H_a$: Time and height of the river are dependent.

$\alpha$ = 0.01

In [11]:
time = manaus.time
height = manaus.manaus

r, p = stats.pearsonr(time, height)
r, p

(0.1562158965331767, 2.475570064983856e-07)

In [12]:
alpha = 0.01

p < alpha

True

So we reject $H_0$